<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>it</string>
		<string>es</string>
		<string>fr</string>
		<string>pt</string>
		<string>ru</string>
		<string>de</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>FittyPal usa la tua posizione per mostrarti le condizioni meteo e suggerirti il miglior tipo di allenamento (outdoor/indoor).</string>
	<key>NSLocationUsageDescription</key>
	<string>FittyPal uses your location to show weather conditions and suggest the best workout type.</string>
</dict>
</plist>
